/build
/target
/.gradle
/src/debug
/src/release
/.idea/
/local.properties

# protobuf
/stremio-core-protobuf/src/protobuf/*
!/stremio-core-protobuf/src/protobuf/README.md

# Swift
/bridge/stremio/
/bridge/wrapper.hpp
.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
/Package.resolved
/Sources/StremioCore/stremio/*
