/build
/target
/.gradle
/src/debug
/src/release
/**/rust/protobuf/*
!/**/rust/protobuf/README.md
/.idea/
/local.properties

/stremio-core-protobuf/src/protobuf/*
!/stremio-core-protobuf/src/protobuf//README.md