[package]
name = "stremio-core-android"
version = "1.1.0"
authors = ["Smart Code OOD"]
edition = "2021"
resolver = "2"

rust-version = "1.67.1"

[lib]
crate_type = ["staticlib", "dylib"]
path = "src/commonMain/rust/lib.rs"

[profile.release]
lto = true
opt-level = 3

[dependencies]
stremio-core = { git = "https://github.com/Stremio/stremio-core", branch = "development", features = [
    "derive",
    "analytics",
    "env-future-send",
] }
stremio-watched-bitfield = { git = "https://github.com/Stremio/stremio-core", branch = "development" }
serde = "1.0"
serde_json = "1.0"
futures = "0.3"
http = "0.2"
url = { version = "2.4", features = ["serde"] }
percent-encoding = "2.1"
chrono = "0.4.*"
semver = { version = "1", features = ["serde"] }
hex = "0.4"
flate2 = "1.0"
either = "1.6"
lazy_static = "1.4"
enclose = "1.1"
itertools = "0.11"
strum = { version = "0.25", features = ["derive"] }
boolinator = "2.4"
Inflector = "0.11"
getrandom = "0.2"
cfg-if = "1"
serde_path_to_error = "0.1"
# TODO: Updating the dependency requires changes to jni_ext
jni = "0.19"
reqwest = { version = "0.11", features = ["json", "rustls-tls"] }
tokio = { version = "1", features = ["rt", "rt-multi-thread"] }
openssl = { version = "0.10", features = ["vendored"] }
prost = "0.11"
prost-types = "0.11"
http-cache-reqwest = "0.11"
reqwest-middleware = "0.2"
once_cell = "1"

[build-dependencies]
prost-build = "0.11"
protox = "0.4"
glob = "0.3.0"

[patch.crates-io]
# see https://github.com/nicokoch/reflink/issues/4
reflink = { git = "https://github.com/nicokoch/reflink", rev = "e8d93b46" }
# see https://github.com/alexcrichton/openssl-src-rs/issues/188
openssl-src = { git = "https://github.com/sleeyax/openssl-src-rs", rev =  "920c4df6b10dbca574810c0dc88db4bca4c332af" }

# [patch.'https://github.com/Stremio/stremio-core']

# stremio-core = { path = "../core" }
# stremio-watched-bitfield = { path = "../core/stremio-watched-bitfield" }
