[package]
name = "stremio-core-android"
version = "1.0.8"
authors = ["Smart Code OOD"]
edition = "2018"

[lib]
crate_type = ["staticlib", "dylib"]
path = "src/main/rust/lib.rs"

[profile.release]
lto = true
opt-level = 3

[dependencies]
stremio-core = { git = "https://github.com/Stremio/stremio-core", branch = "development", features = ["env-future-send"] }
stremio-derive = { git = "https://github.com/Stremio/stremio-core", branch = "development" }
stremio-analytics = { git = "https://github.com/Stremio/stremio-core", branch = "development" }
stremio-watched-bitfield = { git = "https://github.com/Stremio/stremio-core", branch = "development" }
serde = "1.0.*"
serde_json = "1.0.*"
futures = "0.3.*"
http = "0.2.*"
url = { version = "2.2.*", features = ["serde"] }
percent-encoding = "2.1.*"
chrono = "0.4.*"
semver = { version = "0.11.*", features = ["serde"] }
base64 = "0.13.*"
hex = "0.4.*"
flate2 = "1.0.*"
either = "1.6.*"
lazy_static = "1.4.*"
itertools = "0.10.*"
strum = "0.22.*"
strum_macros = "0.22.*"
boolinator = "2.4.*"
getrandom = "0.2.*"
cfg-if = "0.1.*"
auto_impl = "0.5.*"
serde_path_to_error = "0.1.*"
jni = "0.19.*"
reqwest = { version = "0.11", features = ["json", "native-tls-vendored"] }
tokio = { version = "1.12.*", features = ["rt", "rt-multi-thread"] }
bytes = "1.1.0"
prost = "0.10.4"
prost-types = "0.10.1"
http-cache-reqwest = "0.4.5"
reqwest-middleware = "0.1.6"
once_cell = "1.12.0"

[build-dependencies]
prost-build = "0.10.4"
glob = "0.3.0"
