name: Release

on:
  release:
    types: [published]

jobs:
  release:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          java-version: "11"
          distribution: "adopt"
      - name: Setup Android SDK
        uses: android-actions/setup-android@v2
      - name: Setup Android NDK
        run: yes | sdkmanager "ndk;21.0.6113669" >/dev/null
      - name: Set default rust toolchain
        run: rustup default 1.61.0
      - name: Install rustfmt
        run: rustup component add rustfmt
      - name: Install clippy
        run: rustup component add clippy
      - name: Add armv7 target
        run: rustup target add armv7-linux-androideabi
      - name: Add aarch64 target
        run: rustup target add aarch64-linux-android
      - name: Add i686 target
        run: rustup target add i686-linux-android
      - name: Add x86_64 target
        run: rustup target add x86_64-linux-android
      - name: Rust cache
        uses: Swatinem/rust-cache@v2
      - name: Build aar
        run: ./gradlew -Pversion=${GITHUB_REF##*/} publishToMavenLocal
      - name: Archive artifacts
        run: tar -C ~/.m2/repository/com/github/Stremio -cvzf stremio-core-kotlin.tar.gz .
      - name: Archive build
        run: tar -C build -cvzf build.tar.gz publications
      - name: Upload build artifacts
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: "stremio-core-kotlin.tar.gz build.tar.gz"
          tag: ${{ github.ref }}
          overwrite: true
          file_glob: true
